.navigation {
    position: absolute;
    top: 10px;
}

.hero-title {
    position: relative;
    bottom: 500px;
    opacity: 0.5;
}

.info-title {
    position: relative;
    bottom: 300px;
    left: 20px;
}

.info-button {
    position: relative;
    bottom: 100px;
    left: 240px;
}

a {
    color: goldenrod;
    text-decoration: None;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: underline;
}

.btn {
    background-color: goldenrod;
}

.btn:hover {
    background-color: darkgoldenrod;
    font-weight: 600;
}

.character-card {
    background-color: antiquewhite;
}

.character-race {
    background-color: black;
    color: whitesmoke;
}
