{% include "header.html" %}
        <!-- Mid-section -->
        <div class="container-fluid mb-5 py-5 text-center font-italic" style="background-color: rgba(0, 0, 0, 0.1);">
            <h3 class="fw-normal" style="font-style: italic; color: darkgoldenrod;">“Speak Friend and Enter”</h3>
        </div>

        <!-- Main section -->
        <div class="container-fluid mt-5">
            <div class="row justify-content-around gx-3">
                <div class="col-md-3">
                    <img class="img-fluid shadow-lg" src="../static/assets/img/movies.png" style="border-radius: 5%;" alt="">
                    <h4 class="info-title" style="color: white;">Movies</h4>
                    <form class="info-button" action="{{ url_for('get_movies') }}">
                        <button class="btn">Explore</button>
                    </form>
                </div>
                <div class="col-md-3">
                    <img class="img-fluid shadow-lg" src="../static/assets/img/characters.png" style="border-radius: 5%;" alt="">
                    <h4 class="info-title" style="color: white;">Characters</h4>
                    <form class="info-button" action="{{ url_for('get_characters') }}">
                        <button class="btn">Explore</button>
                    </form>
                </div>
                <div class="col-md-3">
                    <img class="img-fluid shadow-lg" src="../static/assets/img/quotes.png" style="border-radius: 5%;" alt="">
                    <h4 class="info-title" style="color: white;">Quotes</h4>
                    <form class="info-button" action="">
                        <button class="btn">Explore</button>
                    </form>
                </div>
            </div>
        </div>

{% include "footer.html" %}